// @import '~react-big-calendar/lib/css/react-big-calendar.css';
@import '../../../react-big-calendar/src/less/styles.less';
@import '../../../react-big-calendar/src/addons/dragAndDrop/styles.less';


// .rbc-time-content{
// 	flex: none;
// 	height: 400px;
// }

// .rbc-timeslot-group{
// 	min-height: auto;
// }

.rbc-day-slot{

	.rbc-events-container {
		right: 0;
	}
}

.rbc-time-content{

	overflow: hidden;
}

.rbc-time-column {

	min-height: 100%;
	height: 100%;

	.rbc-timeslot-group{
		// flex: none;
		min-height: auto;
	}
}

.rbc-time-view{
	height: 550px;
	flex: none;
}
